<%- include("../partials/header") %>

<!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Breadcrumb Section Begin -->

    <!-- Map Section Begin -->
    <div class="map spad">
        <div class="container">
            <div class="map-inner">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.44276762731!2d72.80418855808239!3d21.156953096482297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e073676d8eb%3A0xdbe7064e701cdbff!2sR.D.%20Park%20Society%2C%20Girdhar%20Dwar%20Society%20Vibhag%204%2C%20New%20City%20Light%2C%20Althan%2C%20Surat%2C%20Gujarat%20395017!5e0!3m2!1sen!2sin!4v1592583585241!5m2!1sen!2sin" 
						width="600" height="610" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				<div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Map Section Begin -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contacts Us</h4>
                        <p>We are happy to assist you Monday through Friday 9AM through 5PM IST. For orders, shipping and returns please email </p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="ci-text">
                                <span>Address:</span>
                                <p>B-3, R.D. PARK SOC, SURAT</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="ci-text">
                                <span>Phone:</span>
                                <p>+91 9924954816</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>rickypatel8324@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>Leave A Comment</h4>
                            <p>For all enquiries, please submit a contact form and we will endeavour to get back to you within 24 hours.</p>
                            <form action="mailto: rickypatel8324@gmail.com?subject = Enquiry" method="post" enctype="text/plain" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="Name" placeholder="Your name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" name="Email" placeholder="Your Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea name="Message" placeholder="Your message"></textarea>
                                        <button type="submit" class="site-btn">Send message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<%- include("../partials/footer") %>
